# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compilados
dist/
out-tsc/
.build/

# Dependências
node_modules/

# Ambiente
.env
.env.*.local

# IDEs e editores
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema operacional
.DS_Store
Thumbs.db

# Ferramentas de CI/CD
/.circleci/
/.husky/
.nyc_output/
coverage/

# Angular Cache
.angular/cache/

# Angular CLI Configuração local
.angular/

# Relatórios
reports/
test-results/

# Coverage
coverage/
lcov-report/

# Configurações locais de usuários
.editorconfig
package-lock.json

# Outras configurações e backups temporários
*.tmp
*.bak
*.old
*.orig
*.rej
*.seed
*.pid
*.pid.lock

# Arquivos específicos para bibliotecas
.sass-cache/
*.pyc
*.pyo
*.pyd

# MacOS
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*.~lock.*
~$*

# Configuração de Git
.git/
*.gitignore
